<!-- Asset -->
<div>
  <p>Define the characteristics of your asset</p>

  <!-- Title -->
  <div class="input-wrapper">
    <label for="asset-title">Title</label>
    <input type="text" id="asset-title" name="asset-title">
  </div>

  <!-- Image URL -->
  <div class="input-wrapper">
    <label for="asset-image">Enter the URL to your asset image.</label>
    <input type="text" id="asset-image" name="asset-image">
    <p>TAIGA does not store your assets. We receommend using ipfs.io for hosting your content.</p>
    <small>(No larger than 286 x 386 pixels.)</small>
    <img src="/img/upload.png" />
  </div>

  <!-- Supply and Price -->
  <div class="input-wrapper">
    <div class="sub-input-wrapper">
      <label for="asset-supply">Supply</label>
      <input type="text" id="asset-supply" name="asset-supply">
    </div>
  </div>

  <!-- Description -->
  <div class="input-wrapper">
    <label for="asset-description">Description <span>(Maximum of 200 characters)</span></label>
  </div>


  <!-- Asset Type -->
  <div class="input-wrapper">
    <label for="asset-description">Asset Type</label>
    <select id="asset-description" name="asset-description">
      <option>Games</option>
      <option>Music</option>
      <option>Video</option>
      <option>Image</option>
      <option>Text</option>
      <option>Other</option>
    </select>
  </div>

  <input type="submit"/>

</div>

