<section>
    <!-- Asset -->
    <form class="container">
        <h3>Store</h3>
        <label for="store-name">Create a new store for your new asset or choose an existing one.</label>
  
        <div class="form-group">
          <select class="form-control" id="store-name" name="store-name">
            <option>Alien Games</option>
          </select>
          <br>
          <button class="btn btn-primary">Create New Store</button>
          <!-- HiddenForm -->
          <div class="add-store-form hide form-group">
            <label for="store-name">Store Name</label>
            <input class="form-control" type="text" id="store-name" name="store-name" >
            <br>
            <button class="btn btn-primary">Save</button>
          </div>
        </div>
        
        <hr/>
  
        <p>Define the characteristics of your asset</p>
  
        <!-- Title -->
        <div class="input-wrapper form-group">
          <label for="asset-title">Title</label>
          <input class="form-control" type="text" id="asset-title" name="asset-title" placeholder="My Crypto Asset" (change)="setName($event)">
        </div>
  
        <!-- Image URL -->
        <div class="input-wrapper form-group">
          <label for="asset-image">Enter the URL to your asset image.</label>
          <input class="form-control" type="text" id="asset-image" name="asset-image">
          <p>TAIGA does not store your assets. We recommend using ipfs.io for hosting your content.</p>
          <small>(No larger than 286 x 386 pixels.)</small>
          <img src="/img/upload.png" />
        </div>
  
        <!-- Supply and Price -->
        <div class="input-wrapper form-group">
          <div class="sub-input-wrapper">
            <label for="asset-supply">Supply</label>
            <input class="form-control" type="text" id="asset-supply" name="asset-supply" placeholder="10000" (change)="setTotalSupply($event)">
          </div>
        </div>
  
        <!-- Description -->
        <div class="input-wrapper form-group">
          <label for="asset-description">Description <span>(Maximum of 200 characters)</span></label>
          <input class="form-control" type="text" id="asset-description" name="asset-supply">
        </div>
  
  
        <!-- Asset Type -->
        <div class="input-wrapper form-group">
          <label for="asset-description">Asset Type</label>
          <select class="form-control" id="asset-description" name="asset-description" (change)="setDescription($event)">
            <option>Games</option>
            <option>Music</option>
            <option>Video</option>
            <option>Image</option>
            <option>Text</option>
            <option>Other</option>
          </select>
        </div>
  
        <button type="submit" class="btn btn-primary" (click)="createSimpleAssetType()">Create New Asset</button>
    </form>
  
  </section>
  