<section>
  <div>
    <h3>Store</h3>

    <label for="store-name">Create a new store for your new asset or choose an existing one.</label>

    <div>
      <select id="store-name" name="store-name">
        <option>Alien Games</option>
      </select>
      <button>Create New Store</button>
      <!-- HiddenForm -->
      <div class="add-store-form hide">
        <input type="text" id="store-name" name="store-name" >
        <button>Save</button>
      </div>
    </div>
  </div>

  <hr/>

  <app-asset-form></app-asset-form>


</section>